{% block _folower4 %}
<div class="folower swiper-slide">
  <div class="folower_person">
    <div class="folower_foto">
      {% set img1 ={ 
      name: 'folower_Na_Ma4',
      folder: './../assets/images/home/'
      }
      %}
      {{ makePicture.pack(img1) }}
    </div>
    <div class="folower_who">
      <h4 class="folower_name"><strong>Nadiya Maltseva</strong></h3>
      <h5 class="folower_jobs">Maltseva Consulting</h5>
    </div>
  </div>
</div>
<div class="folower swiper-slide">
  <p class="folower_text color_beige_dark">During a stage in my life, I needed to transition from my corporate attire during work hours and floral dresses during leisure time, to a more versatile and easy-to-wear style. Edna surprised me by first wanting to understand me as a person, not just my daily role. As we sorted through my closet, I was apprehensive about having to let go of my favorite pieces. However, Edna approached each item with reverence and asked about my personal connection and association with it. In the end, we ended up donating 70% of the items and did a little shopping. Edna goes beyond just putting together an outfit. She taught me to view each item as an ingredient that can be used in various combinations, making them incredibly satisfying and appealing, resulting in compliments from others</p>
</div>
{% endblock %}


