{% block testimonials %}
<div id="testimonials_content" class="testimonials_content testim_swiper">
  <div id="testimonial_case" class="testimonial_case swiper-wrapper">
    {% include "_folower1.njk" %}
    {% include "_folower2.njk" %}
    {% include "_folower3.njk" %}
    {% include "_folower4_mod.njk" %} 
  </div>
</div>
{% endblock%}  