{% set title = 'Wardrobe Edit' %}
{% set pageName = 'ward_edit' %}
{% include "_head.njk" %} 
{%- import "_macros_image.njk" as makePicture -%}

    <div class="wrapper_{{pageName}}">
      <header class="container"> 
        {% include "_nav.njk" %}
        <div class="burger_nav">
          <div class="nav_control">         
            <a href="./index.html" class="nav_btn btn_close">
              <span class="burger_nav_line">-</span>
              <span class="burger_nav_line">-</span>
            </a>             
          </div> 
        </div>
      </header>
      <main class="main_{{pageName}} mod_main">
        <section class="{{pageName}} container">
          <div class="{{pageName}}_content mod_content">
            <div class="{{pageName}}_img mod_img"> 
              {% set arr = [ 'edit_person1', 'edit_person2', 'edit_person3', 'edit_person4'] %}
              {% for i in arr %}
                {% set img1 ={ 
                    name: i ,
                    folder: './../assets/images/wardrobe_edit/'
                    }
                  %}
                {{ makePicture.pack(img1) }}     
              {% endfor %}           
            </div>
            <div class="{{pageName}}_message mod_mes">
              <div class="{{pageName}}_about mod_about">
                <div class="{{pageName}}_text mod_text">
                  <p class="timing text_accent">4h &#124; in person</p>
                  <h4><strong>To restore balance and bring the wardrobe in line with how you feel</strong></h4>
                  <div class="mod_description">
                    <p>If your clothes don&#8217;t serve you anymore because of a new lifestyle, a body change or another meaningful experience that makes if all feel different – let&#8217;s do a wardrobe edit. </p>
                    <p>We filter clothes to make room for new beginnings, while keeping and restyling your favorites. I&#8217;ll help overcome lingering doubts with a clear structure and up to date looks reflecting your current self. For you to finally see the beauty and power you have always felt inside. </p>
                    <p>Further on I&#8217;ll guide you with a personal look book and priority items list for a smart shopping. </p>
                    <p>Tap for details and booking </p>
                  </div>
                </div>
              </div> 
              <a href="./index.html#link_to_book" title="link to BOOK section" class="book_now"><span>BOOK NOW</span></a> 
              <details class="det_details text_accent">
                <summary>details</summary>
                <div class="mod_serv">
                  <div class="mod_serv_items">
                    <p>4 hours in person session </p>
                    <p>1 freshly edited wardrobe</p>
                    <p>1 personal look book of modern looks</p>
                    <p>1 shopping list &#38; clear shopping strategy</p>
                  </div>
                  <ul class="mod_ul">
                    <li class="mod_li">You fill out a questionary and share your current wardrobe situation</li>
                    <li class="mod_li">I analyze and build a wardrobe strategy for you</li>
                    <li class="mod_li">We meet in person and go though each clothing category within one seasonal wardrobe.</li>
                    <li class="mod_li">We filter your clothes and create new modern looks which will form your personal look book</li>
                    <li class="mod_li">I teach you self styling techniques personalized for your body lines, appearance and lifestyle</li>
                    <li class="mod_li">We finish with a comprehensive shopping list and a clear wardrobe strategy for your further style journey.</li>
                  </ul>
                </div>
              </details>
              <details class="det_testimonials text_accent">
                <summary class="testimonials">testimonials</summary>
                {% include "_testimonials.njk" %}
              </details>
            </div>
          </div>
        </section>
      </main>
    </div>
  <body>
</html>