@font-face {
  font-family: 'CormorantGaramond-Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/edna/src/assets/fonts/CormorantGaramond-Light.woff2') format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/edna/src/assets/fonts/CormorantGaramond-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'HelveticaNeue Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/edna/src/assets/fonts/HelveticaNeue Regular.woff2') format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/edna/src/assets/fonts/HelveticaNeue Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/edna/src/assets/fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/edna/src/assets/fonts/HelveticaNeueLTStd-Md.ttf') format('ttf');
}